@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --hamburger-margin: 8px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  --translate-before: calc(var(--bar-height) / -2);
  --translate-after: calc(var(--bar-height) / 2);
}